{{ define "main" }}

<section class="section case-details">
  <div class="svg-img">
    <img src="{{ "images/hero/figure-svg.svg" | absURL }}" alt="" />
  </div>
  <div class="animate-shape">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
      <defs>
        <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#f1f6f9" />
          <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
        </linearGradient>
      </defs>
      <g data-name="blob-shape (3)">
        <path class="blob" fill="url(#d)"
          d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
      </g>
    </svg>
  </div>
  <div class="animate-pattern">
    <img src="{{ "images/service/background-pattern.svg" | absURL }}" alt="background-shape" />
  </div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 offset-lg-1 text-center">
        <div class="case-details-title">
          <h1>{{ .Title }}</h1>
        </div>
        <p>
          {{ .Content }}
        </p>
        <div style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;">
            <div class="pen">
                <div class="penContainer">
                    <iframe title="Pen by Morcinus" src="//codepen.io/morcinus/embed/XWqKdpW/?height=400&amp;theme-id=22129&amp;default-tab=result" class="penIframe show" scrolling="no" allowfullscreen="true" allowtransparency="true" sandbox="allow-scripts allow-same-origin" loading="lazy" frameborder="0"></iframe>
                </div>
            </div>
            <div class="pen">
                <div class="penContainer">
                    <iframe title="Pen by Morcinus" src="//codepen.io/morcinus/embed/abGZNJv/?height=400&amp;theme-id=22129&amp;default-tab=result" class="penIframe show" scrolling="no" allowfullscreen="true" allowtransparency="true" sandbox="allow-scripts allow-same-origin" loading="lazy" frameborder="0"></iframe>
                </div>
            </div>
            <div class="pen">
                <div class="penContainer">
                    <iframe title="Pen by Morcinus" src="//codepen.io/morcinus/embed/qBYNZrN/?height=400&amp;theme-id=22129&amp;default-tab=result" class="penIframe show" scrolling="no" allowfullscreen="true" allowtransparency="true" sandbox="allow-scripts allow-same-origin" loading="lazy" frameborder="0"></iframe>
                </div>
            </div>
            <div class="pen">
                <div class="penContainer">
                    <iframe title="Pen by Morcinus" src="//codepen.io/morcinus/embed/dyeXMvN/?height=400&amp;theme-id=22129&amp;default-tab=result" class="penIframe show" scrolling="no" allowfullscreen="true" allowtransparency="true" sandbox="allow-scripts allow-same-origin" loading="lazy" frameborder="0"></iframe>
                </div>
            </div>
            <div class="pen">
                <div class="penContainer">
                    <iframe title="Pen by Morcinus" src="//codepen.io/morcinus/embed/Vwxjapp/?height=400&amp;theme-id=22129&amp;default-tab=result" class="penIframe show" scrolling="no" allowfullscreen="true" allowtransparency="true" sandbox="allow-scripts allow-same-origin" loading="lazy" frameborder="0"></iframe>
                </div>
            </div>
        </div>
</section>
<style>
    .pen {
        width:400px;
        display: inline-block;
        margin-bottom: 40px;
    }
    .pen .penContainer {
    --tw-shadow:0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    border-radius:.375rem;
    box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    height:400px;
    overflow:hidden;
    position:relative;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    width:400px
    }
    .pen .penContainer .penIframe {
    border:none;
    height:560px;
    margin:-90px 0 -70px;
    opacity:0;
    overflow:hidden;
    padding:0;
    position:relative;
    width:400px;
    z-index:5
    }
    .pen .penContainer .penIframe.show {
    opacity:1;
    transition-duration:.15s;
    transition-duration:.5s;
    transition-property:opacity;
    transition-timing-function:cubic-bezier(.4,0,.2,1)
    }
    .pen .penData {
    -ms-flex-pack:justify;
    -ms-flex-align:center;
    align-items:center;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
    justify-content:space-between;
    line-height:16px
    }
    .pen .penData .author {
    height:1.5rem;
    line-height:1.5rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
    }
    .pen .penData a {
    display:block;
    text-decoration:none
    }
    .pen .penData a:hover {
    text-decoration:underline
    }
    .pen .penData .actions {
    -ms-flex-pack:end;
    -ms-flex-align:center;
    align-items:center;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
    justify-content:flex-end
    }
</style>


{{ end }}